html{
    margin: 0px 0px;
    padding: 0px 0px;
}
body{
    
    margin: 0px 0px;
    padding:90px 190px;
   /* background-image: url("../img/main-bg.jpg");*/
    
    background-color: rgba(5,3,4,1);
    background-image: url("../img/main-bg.jpg");
    background-repeat:no-repeat ;
    background-attachment: fixed;
    /*background-blend-mode: multiply;*/
    background-size:100% auto ;
    background-position: top left;
    
}
span{
    color:white;
}
h1{
    margin: 0px 0px;
    color:white; 
}
*{
    box-sizing:border-box;
}
.header__navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    
}
.header__logo{

}
.header__navigation-items{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left:70px;
    justify-content: space-between;
    width: 314px;
}
.header__navigation-link{
    text-decoration: none;
    color:white;
    font-family: Roboto;
}
.main{
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.main__header-episode-number{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 5px;
}
.main__header-episode-name{
    font-family: Proxima Nova;
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
    line-height: 78px;
    margin-bottom: 25px;
}
.main__sinopsis{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #AFAFAF;
    margin-bottom: 25px;
}
.main__premiere{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #B02000;
    margin-bottom: 5px;
}
.main__data{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 46px;
}
.main__watch{
  /*  margin-bottom: 59px;
    width: 354px;
    background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
    border-radius: 300px;   */
}
.main__btn{
    margin-bottom: 59px;
    background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
    border:none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 260px;
    height: 65px;
    border-radius: 300px;
    text-decoration: none;
    font-family: Roboto;
}
.main__span{
    margin-left: 34px;
    text-transform: uppercase;
}
.main__play{
    align-self: flex-end;
    border-radius:50%;
    width: 65px;
    height:65px;
    background-color: white;
    position: relative;
    top:1px;
    left:6px;
    box-shadow: 0px 0px 0px 15px rgba(255,255,255, 0.5);
    animation: circle 1500ms ease 0s infinite normal none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__play-img{
    position: relative;
    top:-3px;
    left:-2px;
}
@keyframes circle{
    0%{
        box-shadow: 0px 0px 0px 0px rgba(255,255,255, 0.8);
    }
    100%{
        box-shadow: 0px 0px 0px 15px rgba(255,255,255, 0.0);
    }
}
.main__episodes{
    display: block;
}
.main__episode-title{
   
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;  
}
.main__all-films{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main__films{
    margin-top: 24px;
    max-width:250px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    position: relative;
}
.main__films--disactive{
    background-color: rgba(11, 11, 34, 0.7);
    background-blend-mode: normal;
    transition: background-color 1s ease 0s;
}
.main__films--active{
    background-color: rgba(64, 101, 255, 0.5);
  /*  background-image: url("../img/img-episode-4.png");*/
    background-size: auto 100%;
   /* box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);*/
    background-blend-mode: normal;
    transition: background-color 1s ease 0s;
}
.main__film-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width:100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    padding: 30px;
}
.main__film-container:hover{
    background-color: rgba(64, 101, 255, 0.9);
    transition: background-color 1s ease 0s;
}
.main__film-img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   background-position: 50% 50%; 
   border-radius: 10px;
   background-size: 50%;
}
.main__film-year{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.main__film-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.main__film-rating{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.main__rating-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
}
.main__rating-img{
    margin-left:12px;
}
.main__rating-star{
    fill:white;
}
.main__rating-star-empty{
    fill:none;
}
.main__arrows{
    margin-top: 27px;
    padding-left: 13px;
}
.main__arrow-left{
    width:32px;
    height:32px;
    margin-left: 15px;
    margin-top: 27px;
    background: transparent;
    border: none;
    background-image: url("../img/arrow-left.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline: none;
}
.main__arrow-left span, .main__arrow-right span{
    display: none;
}
.main__arrow-right{
    margin-left: 15px;
    margin-top: 27px;
    width:32px;
    height:32px;
   /* transform: rotate(180deg);*/
    background: transparent;
    border: none;
    background-image: url("../img/arrow-right.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline: none;
}
@media (max-width:880px){
    body{
        margin: 0px 0px;
        padding:90px 120px;
    }
}
@media (max-width:740px){
    body{
        margin: 0px 0px;
        padding:90px 70px;
    }
}
@media (max-width:640px){
    body{
        margin: 0px 0px;
        padding:90px 40px;
    }
}
@media (max-width:580px){
    body{
        margin: 0px 0px;
        padding:90px 20px;
    }
}
@media (max-width: 600px){
    .main__header-episode-number{
        font-size: 24px;
    }
    .main__header-episode-name{
        font-size: 36px;
        margin-bottom: 0px;
    }
    .main__films{
        max-width: none;
    }
}
@media (max-width:540px){
    .header__navigation{
        flex-direction: column;
    }
    .header__navigation-items{
        margin-left:0px;
        margin-top: 20px;
    }
    .main{
       margin-top:20px;
    }
    .main__watch{
        display: flex;
        justify-content: center;
    }
    .main__episodes{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
}